:root {
  --primary-text-color: #212121;
  --title-color: #757575;
  --primary-text-color-theme-light: #E5E5E5;
  --secondary-text-color-theme-light: #F5F4FA;
  --primary-text-color-theme-dark: #2F303A;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.page-header {
  background-color: #FFFFFF;
  border-bottom: 1px solid #ECECEC;
}

.page-container {
  display: flex;
}

.main-nav {
  display: flex;
  align-items: center;
}

.logo {
  color: #2196F3;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 19;
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo__accent {
  color: var(--primary-text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 19;
}

.menu {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  display: flex;
}

.header-menu {
  margin-left: 93px;
}

.menu li {
  margin-right: 50px;
}

.menu .menu__item:last-child {
  margin-right: 0;
}

.menu .menu__site-nav {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.menu .menu-contact__contact-nav {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.menu-contact {
  display: flex;
}

.header-menu-contact {
  margin-left: auto;
}

.menu-contact li {
  margin-right: 50px;
}

.menu-contact .menu-contact__item:last-child {
  margin-right: 0;
}

.menu-contact .menu-contact__contact-nav {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
}

.menu__site-nav {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__site-nav:hover, .menu__site-nav:focus {
  color: #2196F3;
}
.menu__site-nav.current {
  color: #2196F3;
}
.menu__site-nav::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__site-nav.current::after {
  display: block;
  opacity: 1;
}

.menu-contact__contact-nav {
  color: var(--title-color);
  font-weight: 500;
  font-size: 14px;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-contact__contact-nav:hover, .menu-contact__contact-nav:focus {
  color: #2196F3;
}

.button-icon {
  width: 16px;
  height: 12px;
  fill: #757575;
  align-items: center;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-contact__contact-nav:hover .button-icon, .menu-contact__contact-nav:focus .button-icon {
  fill: #2196F3;
}

.button-icon-phone {
  width: 10px;
  height: 16px;
  fill: #757575;
  align-items: center;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-contact__contact-nav:hover .button-icon-phone, .menu-contact__contact-nav:focus .button-icon-phone {
  fill: #2196F3;
}

.filters {
  display: flex;
  justify-content: center;
}

.filters-list {
  margin-bottom: 50px;
}

.filters-link {
  text-align: center;
}

.filters__btn {
  margin-right: 8px;
}
.filters .filters__btn:last-child {
  margin-right: 0;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc((100% - 90px) / 3);
}

.catalog__link {
  background-color: #FFFFFF;
}
.catalog__link:not(:nth-child(3n)) {
  margin-right: 30px;
}
.catalog__link:not(:nth-last-child(-n+3)) {
  margin-bottom: 30px;
}

.catalog__list {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.catalog__list:hover, .catalog__list:focus {
  box-shadow: 0px 4px 0px 1px rgba(0, 0, 0, 0.25);
}

.catalog__description {
  display: block;
  position: relative;
  overflow: hidden;
}

.catalog__overlay {
  content: "";
  width: 370px;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.9);
  display: inline-block;
  position: absolute;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.catalog-list:hover .catalog__overlay {
  transform: translateY(0);
}

.catalog__text {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  text-align: left;
  padding: 63px 24px;
}

.catalog__content-wrapper {
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  padding: 20px 24px;
}

.catalog__section-works {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin-bottom: 4px;
}

.catalog__subtytle {
  color: var(--title-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}

.modal-btn {
  color: #FFFFFF;
  background-color: #2196F3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px 10px 32px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover, .modal-btn:focus {
  background-color: #188CE8;
  color: #FFFFFF;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  width: 528px;
  height: 581px;
  background-color: #FFFFFF;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-top: 40px;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
}

.modal__btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.modal__button {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-close:hover .modal__button, .btn-close:focus .modal__button {
  fill: #2196F3;
}

.contact-form {
  text-align: left;
  color: var(--title-color);
  font-weight: 400;
  font-size: 12px;
}

.contact-form__title-form {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0, 3em;
  line-height: 23px;
  color: #212121;
  margin-bottom: 12px;
  width: 448px;
  height: 23px;
  text-align: center;
}

.contact-form__contact-label {
  position: relative;
}

.contact-form__input {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  margin-top: 4px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form__input:focus {
  outline: none;
  border-color: #188CE8;
}

.icon-form {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  background-color: #FFFFFF;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form__input:focus + .icon-form {
  fill: #2196F3;
}

.contact-form__message {
  width: 100%;
  height: 125px;
  padding: 15px;
  margin-top: 4px;
  margin-bottom: 20px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  font-weight: 400;
  font-size: 12px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form__message:focus {
  outline: none;
  border-color: #188CE8;
}

.contact-form__checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  margin-bottom: 30px;
}
.contact-form__checkbox-label::before {
  display: block;
  width: 16px;
  height: 15px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  cursor: pointer;
  content: "";
  margin-right: 9px;
  border-radius: 1px;
}
.contact-form__checkbox:checked + .contact-form__checkbox-label::before {
  background-color: #2196F3;
  background-image: url("../images/icon-check.svg");
  width: 16px;
  height: 15px;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 1px;
  border: 1px solid #2196F3;
}
.contact-form__checkbox:focus + .contact-form__checkbox-label::before {
  outline: 2px solid #212121;
  border-radius: 1px;
}

.contact-form-checkbox__link {
  color: #2196F3;
}

.contact-form__btn {
  min-width: 200px;
  height: 50px;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  background-color: #188CE8;
  cursor: pointer;
  padding: 10px 55px;
  margin-left: 25%;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.15);
  border: 1px solid #188CE8;
}

.filters__style-btn {
  background-color: var(--secondary-text-color-theme-light);
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  padding: 6px 22px 6px 22px;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filters__style-btn:hover, .filters__style-btn:focus {
  color: #FFFFFF;
  background-color: #2196F3;
  box-shadow: 0px 4px 0px 1px rgba(0, 0, 0, 0.25);
}
.filters__style-btn.current {
  color: #FFFFFF;
  background-color: #2196F3;
}

.hero {
  color: #FFFFFF;
  background-color: var(--primary-text-color-theme-dark);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  max-height: 600px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background_hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.section-hero {
  margin-left: auto;
  margin-right: auto;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  vertical-align: Top;
  letter-spacing: 0.06em;
  max-width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
  border: none;
}

.section-advantage {
  padding-top: 94px;
}

.section-advantage__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.feature {
  display: flex;
  padding: 0;
}

.feature-advantage {
  margin: 0;
}

.feature__list {
  margin-right: 30px;
  width: 270px;
}

.feature__thumb {
  background-color: #F5F4FA;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
}

.feature__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  display: flex;
  margin-bottom: 10px;
}

.feature__text {
  color: var(--title-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.image-section {
  display: flex;
  padding: 0;
}

.gallery-section {
  margin: 0;
}

.image-section__list {
  margin-right: 30px;
  position: relative;
}
.image-section .image-section__list:last-child {
  margin-right: 0;
}

.image-section__thumb {
  width: 370px;
  height: 70px;
  position: absolute;
  bottom: 0%;
  right: 0%;
  padding-top: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  opacity: 1;
}

.image-section__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  color: #ffffff;
}

.title_theme_light {
  background-color: var(--secondary-text-color-theme-light);
}

.employees {
  display: flex;
  padding: 0;
}

.employees-section {
  margin: 0;
}

.employees__photo {
  margin-right: 30px;
}
.employees .employees__photo:last-child {
  margin-right: 0;
}

.employees__content-wrapper {
  padding: 30px 10px;
  background-color: #FFFFFF;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-top: none;
}

.employees__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 10px;
}

.employees__position {
  color: var(--title-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-networks {
  margin-top: 16px;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover, .social-list__link:focus {
  background-color: #2196F3;
}

.social-list__icon {
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link:hover .social-list__icon, .social-list-link:focus .social-list__icon {
  fill: #FFFFFF;
}

.clients {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clients__list {
  margin-right: 30px;
  width: 170px;
  height: 92px;
}
.clients .clients__list:last-child {
  margin-right: 0;
}

.clients__link {
  width: 100%;
  height: 100%;
  fill: #AFB1B8;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #AFB1B8;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  border: 1px solid #2196F3;
}

.clients__icon {
  fill: #AFB1B8;
  align-items: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover .clients__icon, .clients__link:focus .clients__icon {
  fill: #2196F3;
}

.logo-footer {
  color: #2196F3;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 19;
  display: inline-block;
  margin-bottom: 20px;
}

.logo-accent-footer {
  color: #FFFFFF;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 19;
}

.address {
  font-style: normal;
}

.address-list {
  margin-bottom: 9px;
}

.contact-info {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 20px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-info:hover, .contact-info:focus {
  color: #2196F3;
}

.contact-info-item {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.contact-info-item:hover, .contact-info-item:focus {
  color: #2196F3;
}

.footer {
  background-color: var(--primary-text-color-theme-dark);
  padding: 60px 0;
  display: flex;
}

.footer-container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  display: flex;
  align-items: baseline;
}

.footer-icons {
  margin-left: 70px;
}

.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 20px;
  color: #FFFFFF;
  align-items: center;
}

.footer-list {
  display: flex;
  justify-content: center;
}

.footer-list-item:not(:last-child) {
  margin-right: 10px;
}

.footer-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-list-link:hover, .footer-list-link:focus {
  background-color: #2196F3;
}

.footer-list-icon {
  fill: #ffffff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-list-link:hover .footer-list-icon, .footer-list-link:focus .footer-list-icon {
  fill: #2196F3;
}

.footer-mailing {
  margin-left: 93px;
}

.mailing {
  display: flex;
}

.footer-title-form {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 20px;
  color: #FFFFFF;
  align-items: center;
  width: 219px;
}

.mail {
  width: 358px;
  height: 51px;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--primary-text-color-theme-dark);
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.subscribe {
  width: 200px;
  height: 50px;
  color: #ffffff;
  background-color: #2196F3;
  cursor: pointer;
  padding: 10px 10px;
  margin-left: 12px;
  border-radius: 4px;
  border: 1px solid #2196F3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.send-icon {
  margin-left: 10px;
}/*# sourceMappingURL=main.css.map */