.clients {
    display: flex;
    align-items: center;
    justify-content: center;
}

.clients__list {
    margin-right: 30px;
    width: 170px;
    height: 92px;
    .clients &:last-child {
        margin-right: 0;
    }
}

.clients__link {
    width: 100%;
    height: 100%;
    fill: #AFB1B8;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid#AFB1B8;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        border: 1px solid var(--accent-color);
    }
}

.clients__icon {
    fill: #AFB1B8;
    align-items: center;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .clients__link:hover &,
    .clients__link:focus & {
        fill: var(--accent-color);
    }
}