.hero {
    color: #FFFFFF;
    background-color: var(--primary-text-color-theme-dark);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    max-height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background_hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    vertical-align: Top;
    letter-spacing: 0.06em;
    max-width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;
    border: none;
}