.filters {
    display: flex;
    justify-content: center;
}

.filters-list {
    margin-bottom: 50px;
}

.filters-link {
    text-align: center;
}

.filters__btn {
    margin-right: 8px;
    .filters &:last-child {
        margin-right: 0;
    }
}