.catalog {
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc((100% - 90px)/3);
}

.catalog__link {
    background-color: #FFFFFF;
    &:not(:nth-child(3n)) {
        margin-right: 30px;
    }
    &:not(:nth-last-child(-n + 3)) {
        margin-bottom: 30px;
    }
}

.catalog__list {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        box-shadow: 0px 4px 0px 1px rgba(0, 0, 0, 0.25);
    }
}

.catalog__description {
    display: block;
    position: relative;
    overflow: hidden;
}

.catalog__overlay {
    content: " ";
    width: 370px;
    height: 294px;
    background-color: rgba(33, 150, 243, 0.9);
    display: inline-block;
    position: absolute;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .catalog__list:hover & {
        transform: translateY(0);
    }
}

.catalog__text {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    text-align: left;
    padding: 63px 24px;
}

.catalog__content-wrapper {
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    padding: 20px 24px;
}

.catalog__section-works {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    margin-bottom: 4px;
}

.catalog__subtytle {
    color: var(--title-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
}