.title-form {
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0, 03em;
    line-height: 23px;
    color: #212121;
    margin-bottom: 12px;
    width: 448px;
    height: 23px;
    text-align: center;
}

.contact-form {
    text-align: left;
    color: var(--title-color);
    font-weight: 400;
    font-size: 12px;
}

.contact-label {
    position: relative;
}

.contact-form-input {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    margin-top: 4px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus {
    outline: none;
    border-color: #188CE8;
}

.icon-form {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    background-color: #FFFFFF;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus+.icon-form {
    fill: #2196F3;
}

.contact-form-message {
    width: 100%;
    height: 125px;
    padding: 15px;
    margin-top: 4px;
    margin-bottom: 20px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    font-weight: 400;
    font-size: 12px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-message:focus {
    outline: none;
    border-color: #188CE8;
}

.contact-form-checkbox-label {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-bottom: 30px;
}

.contact-form-checkbox-label::before {
    display: block;
    width: 16px;
    height: 15px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    cursor: pointer;
    content: '';
    margin-right: 9px;
    border-radius: 1px;
}

.contact-form-checkbox:checked+.contact-form-checkbox-label::before {
    background-color: #2196F3;
    background-image: url("../images/icon-check.svg");
    width: 16px;
    height: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 1px;
    border: 1px solid #2196F3;
}

.contact-form-checkbox:focus+.contact-form-checkbox-label::before {
    outline: 2px solid #212121;
    border-radius: 1px;
}

.contact-form-checkbox-link {
    color: #2196F3;
}

.contact-form-btn {
    min-width: 200px;
    height: 50px;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
    background-color: #188CE8;
    cursor: pointer;
    padding: 10px 55px;
    margin-left: 25%;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.15);
    border: 1px solid #188CE8;
}