.section-theme-light {
    background-color: var(--primary-text-color-theme-light);
}

.section-title-theme-light {
    background-color: var(--primary-text-color-theme-light);
}

.title-theme-light {
    background-color: var(--secondary-text-color-theme-light);
}

.background-theme-light {
    background-color: var(--primary-text-color-theme-light);
}