:root {
    --primary-text-color: #212121;
    --title-color: #757575;
    --primary-text-color-theme-light: #E5E5E5;
    --secondary-text-color-theme-light: #F5F4FA;
    --primary-text-color-theme-dark: #2F303A;
}